name: Image Test

on:
  push:
    branches: 
      - 'container*'

env:
    REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}

jobs:
  Build:
    runs-on: ubuntu-latest #use the latest ubuntu container image 
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Build the image
        run: |
          make build
        
      - name: Push beta version
        run: |
          REGISTRY=$(cat base/ope_book_registry)
          REGISTRY_USER=$(cat base/ope_book_user)
          docker login $REGISTRY -u $REGISTRY_USER -p $REGISTRY_PASSWORD
          make push

      - name: Show Debug info
        run: |
          IMAGE_TAG=$( make show-tag )
          echo "For debugging purposes, here is the image tag:"
          echo "  $IMAGE_TAG"
      
  
  UI-Test:
    runs-on: ubuntu-latest #use the latest ubuntu container image
    needs: build
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
      
      - name: Setting up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
        
      - name: Install Chromium
        run: |
          sudo apt-get update
          sudo apt-get install -y chromium-browser

      - name: Installing necessary python packages
        run: pip install selenium webdriver_manager jupyterlab
          
      - name: Pull beta-version
        run: |
          make pull-beta

      - name: Run JupyterLab inside container
        run: |
          make run-beta &
          sleep 3

      - name: Run RISE extension tests
        run: |
          make -C tests rise-test
          # container_id=$(docker ps -q | head -n 1)
          # token=$(docker exec $container_id jupyter lab list 2>&1 | grep -o "token=[^ ]*" | cut -d= -f2)
          # python3 tests/rise_click.py $token
  
  Image-Test:
    runs-on: ubuntu-latest #use the latest ubuntu container image
    needs: build
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Pull beta-version
        run: |
          make pull-beta

      - name: Comparing checksum value
        run: |
          make  -C tests checksum-test

  Approval:
    needs: [UI-Test, Image-Test]
    environment:
      name: approval
    runs-on: ubuntu-latest
    steps:
    - name: manual approve
      run: |
          echo "Publication approved"

  Publish:
    runs-on: ubuntu-latest #use the latest ubuntu container image
    needs: approval
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Push to public version
        run: |
          REGISTRY=$(cat base/ope_book_registry)
          REGISTRY_USER=$(cat base/ope_book_user)
          docker login $REGISTRY -u $REGISTRY_USER -p $REGISTRY_PASSWORD
          make publish